openapi: 3.0.3
info:
  title: Telegram Bot API
  description: API Gateway para bot de Telegram
  version: 1.0.0
  contact:
    name: Bot Support
    email: support@example.com

servers:
  - url: https://api.gateway.url
    description: Production server

paths:
  /webhook:
    post:
      summary: Webhook endpoint para Telegram
      description: Recibe actualizaciones de Telegram y las procesa
      operationId: processWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                update_id:
                  type: integer
                  description: ID único de la actualización
                message:
                  type: object
                  description: Mensaje de Telegram
                callback_query:
                  type: object
                  description: Callback query de botón inline
      responses:
        '200':
          description: Webhook procesado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
        '400':
          description: Solicitud inválida
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid request format"
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error"

  /health:
    get:
      summary: Health check endpoint
      description: Verifica el estado de la API
      operationId: healthCheck
      responses:
        '200':
          description: API funcionando correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  timestamp:
                    type: string
                    format: date-time

components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API Key para autenticación

security:
  - ApiKey: []
